/* General page styling */
body {
  font-family: 'Junge', sans-serif;
  background-color: #F4EEE0;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F4EEE0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #393646;
  display: block;
}

.sidenav img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.account-settings-container {
  margin-left: 200px;
  padding: 20px;
  background-color: #F4EEE0;
}

.account-form {
  background-color: #F4EEE0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-form .form-group {
  margin-bottom: 15px;
}

.account-form label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

.account-form input,
.account-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.account-form button {
  background-color: #6D5D6E;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.account-form button:hover {
  background-color: #524951;
}
